@media screen and (max-width: 767px) {
   .container {
     padding:0
   }
   #accordion {
     margin-top: 45px;
   }
 }
 .navbar {
   background-color:#008259;
   text-align:center;
 }
 .navbar-brand {
   font-family: 'Amatic SC', serif;
   margin-left:auto;
   margin-right:auto;
   text-align:center;
 }
 .card {
   border-radius:0;
 }
 .card-header {
   border-radius: 0 !important;
   border-bottom: 4px solid;
 }
 #headingOne {
   background-color: #0091c9 !important;
   border-color: #0077a5 !important;
 }
 #headingTwo {
  background-color: #eb0045 !important;
  border-color: #d2003e !important;
 }
 #headingThree {
  background-color: #3cb29c !important;
  border-color: #369f8b !important;
 }
 #headingFour {
  background-color: #805475 !important;
   border-color: #6a4661 !important;
}
 h5 {
   font-family: 'Amatic SC', cursive;
   font-size: 3em;
 }
 a, a:visited, a:hover, a:active {
   text-decoration:none;
 }
 .announce-banner {
   width:100%;
   margin-bottom:10px;
 }
 .announce-banner > img {
   width:100%;
   margin:0;
 }
 .announce-cta {
   margin-bottom:10px;
 }
 .pull-right {
   float:right !important;
   margin:15px 0 15px 15px;
 }
 
 .alert {
   margin-top: 10px;
 }
 
 textarea {
   height: 12em;
 }
 
 .user-strong {
   font-weight: bold;
 }